#launches div.launch-item {
    border-radius: 65px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    min-height: fit-content;
    width: stretch;
    max-width: 900px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 30px;
    background: linear-gradient(225deg, #202225, #27292c);
    box-shadow:  -5px 5px 10px #1f2023, 5px -5px 10px #292c2f;
}
.image-container {
    height: 100%;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.launch-info {
    padding-left: 10px;
    width: calc(100% - 110px);
}
.launch-info h2 {
    font-weight: 700;
    color: #FFFFFE;
}
.launch-info p {
    font-size: 0.8em;
    margin-top: 15px;
}
.launch-info .date {
    text-transform: capitalize;
    color: #FFFFFE;
}
.launch-info .date span {
    font-size: 0.8em;
}
.launch-info a {
    color: #7f5af0;
    font-size: 0.8em;
    margin-top: 7px;
    display: block;
    text-decoration: none;
    width: fit-content;
}

@media only screen and (min-width: 800px) {
    .launch-info a {
        display: inline-block;
        margin-right: 20px;
        margin-top: 15px;
    }
}