#launches {
    height: 100%;
}

.fake-header {
    height: 100px;
}

.month-name {
    text-align: center;
    margin: 30px 0 25px 0;
    color: #FFFFFE;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.8em;
}

#launches div.launches-list {
    padding: 0 20px;
    padding-top: 25px;
    min-height: calc(100% - 300px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 95px;
}