.search-container {
    margin: 25px auto 0 auto;
    width: calc(100% - 20px);
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.search-container button {
    width: 110px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(44, 44, 46);
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 0.9em;
    transition: 0.3s;
    color: #FFFFFE;
    margin: 0 5px;
}
.search-container button svg {
    height: 10px;
}
.search-container button img {
    height: 10px;
}
.search-container button img.soyuz {
    height: 15px;
}
.search-container button:hover {
    box-shadow: none;
    background: #242629;
    transition: 0.3s;
    transform: scale(1.1);
}

.search-input-container {
    background-color: rgb(44, 44, 46);
    border-radius: 20px;
    height: 40px;
    color: #FFFFFE;
    display: flex;
    width: calc(100% - 40px);
}

.search-input {
    outline: none;
    padding: 0 20px;
    border: none;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 20px 0 0 20px;
    background-color: rgba(0,0,0,0);
    color: #FFFFFE;
    font-size: 16px;
}

.search-input-container label,
.search-input-container span {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input-container label svg,
.search-input-container span svg {
    cursor: pointer;
    height: 15px;
    color: #FFFFFE;
}

.filters-container {
    margin-top: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

