.search-input-container {
    margin: 25px auto 0 auto;
    background: #242629;
    box-shadow: inset -5px 5px 6px #1e2022, inset 5px -5px 6px #2a2c30;
    border-radius: 20px;
    height: 40px;
    width: calc(100% - 100px);
    max-width: 500px;
    color: #FFFFFE;
    display: flex;

}

.search-input {
    outline: none;
    padding: 0 20px;
    border: none;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 20px 0 0 20px;
    background-color: rgba(0,0,0,0);
    color: #FFFFFE;
    font-size: 16px;
}

.search-input-container label {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input-container label svg {
    height: 15px;
    color: #FFFFFE;
}
