.search-container {
    margin: 25px auto 0 auto;
    width: calc(100% - 20px);
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container button {
    width: 110px;
    text-align: center;
    cursor: pointer;
    background: #242629;
    background: linear-gradient(225deg, #202225, #27292c);
    box-shadow:  -5px 5px 10px #1b1d1f, 5px -5px 10px #2d2f33;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 0.9em;
    transition: 0.3s;
}
.search-container button svg {
    height: 10px;
}
.search-container button:hover {
    box-shadow: none;
    background: #242629;
    transition: 0.3s;
}

.search-input-container {
    background: #242629;
    box-shadow: inset -5px 5px 6px #1e2022, inset 5px -5px 6px #2a2c30;
    border-radius: 20px;
    height: 40px;
    color: #FFFFFE;
    display: flex;
    width: calc(100% - 130px);
}

.search-input {
    outline: none;
    padding: 0 20px;
    border: none;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 20px 0 0 20px;
    background-color: rgba(0,0,0,0);
    color: #FFFFFE;
    font-size: 16px;
}

.search-input-container label {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input-container label svg {
    height: 15px;
    color: #FFFFFE;
}

@media only screen and (max-width: 730px) {
    .search-container {
        flex-direction: column;
        align-items: center;
    }
    .search-container button {
        margin-top: 20px;
        height: 40px;
    }
    .search-input-container {
        width: calc(100% - 40px);
    }
}