#launch-item-page-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242629;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    background-color: #16161a;
}
#launch-item-page-container.no-bg .card-content {
    margin-bottom: 0;
}

#launch-item-page-container .card-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 5px;
}
.card-header button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    position: fixed;
}
.card-header svg {
    height: 25px;
    color: #FFFFFE;
}

#launch-item-page-container .card-content {
    background-color: #242629;
    padding: 0 0 50px 0;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content > * {
    max-width: 900px;
}
.card-content section {
    margin-top: 50px;
}

.card-content h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 50px 0;
}
.card-content h2 {
    font-size: 2.2em;
    font-weight: 700;
    color: #FFFFFE;
    text-align: center;
    margin: 0 0 20px 0;
}
.card-content h3 {
    color: #FFFFFE;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
}
.card-content .countdown {
    display: flex;
    background: linear-gradient(225deg, #202225, #27292c);
    box-shadow:  -5px 5px 6px #1e2022, 5px -5px 6px #2a2c30;
    padding: 20px 30px;
    border-radius: 50px;
}
.card-content .countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-content .countdown div span:first-of-type,
.card-content .countdown div.separator{
    font-size: 35px;
    color: #FFFFFE;
}
div.separator {
    margin: 0 13px;
}
.countdown div span:last-of-type{
    font-size: 12px;
}
.countdown div span {
    color: #7f5af0;
}
#launch-item-page-container section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#launch-item-page-container section p {
    font-size: 1.2em;
}
section div.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    background: linear-gradient(225deg, #202225, #27292c);
    box-shadow:  -5px 5px 6px #1e2022, 5px -5px 6px #2a2c30;
    width: 210px;
    height: 170px;
    border-radius: 50px;
}
section div.date span.day {
    text-transform: capitalize;
}
section div.date span.hours {
    font-weight: 700;
}
section div.date span.utc {
    font-size: 12px;
    padding-top: 7px;
}
#launch-item-page-container section > div.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 700px;
}
#launch-item-page-container div.row div.date {
    margin: 0 10px;
}

#launch-item-page-container .custom-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(225deg, #202225, #27292c);
    box-shadow:  -5px 5px 6px #1e2022, 5px -5px 6px #2a2c30;
    width: 210px;
    height: 210px;
    border-radius: 50px;
    overflow: hidden;
}

#launch-item-page-container .section-container {
    background: linear-gradient(225deg, #202225, #27292c);
    box-shadow:  -5px 5px 6px #1e2022, 5px -5px 6px #2a2c30;
    padding: 30px;
    border-radius: 50px;
    margin: 0 10px;
}
#launch-item-page-container section .section-container .mission-name {
    color: #FFFFFE;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
#launch-item-page-container section .section-container .mission-type {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 25px;
}
#launch-item-page-container section .section-container .mission-desc {
    text-align: center;
    line-height: 25px;
}
.section-container .mission-wiki {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}
.custom-section-container .country-flag,
.custom-section-container .rocket-img {
    width: 100%;
    height: 85px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-section-container .country-name,
.custom-section-container .rocket-name {
    color: #FFFFFE;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
#launch-item-page-container section .custom-section-container .country-location-name,
#launch-item-page-container section .custom-section-container .rocket-agency {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
}
.custom-section-container .links,
.section-container .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: fit-content;
}
.custom-section-container .links a,
.section-container .links a {
    margin: 5px;
}

@media only screen and (max-width: 730px) {
    #launch-item-page-container section > div.row {
        width: 100%;
    }
    #launch-item-page-container section > div.row > div.date,
    #launch-item-page-container section > div.row > div.section-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}